.profile {
  background-color: #5a4e4e;
  margin: 25px 45px 25px 45px;
  padding: 15px 350px 15px 350px;
}

.description {
  background-color: #6e6161;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 270px;
  height: 270px;
  margin-top: 20px;
}

.name {
  color: #172653;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.tag {
  color: #a2aac0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.location {
  color: #b9c0d1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;

}

.stats {
    list-style: none ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.stats li {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label {

  color: #7287be;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.quantity {
  color: #9bacd3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 400;
}